Week1 - Lesson Files Start/Lesson Files Start/.DS_Store
Week1 - Lesson Files Start/Lesson Files Start/facebook_css.css
Week1 - Lesson Files Start/Lesson Files Start/facebook_css2.css
Week1 - Lesson Files Start/Lesson Files Start/FacebookPage.html
Week1 - Lesson Files Start/Lesson Files Start/FacebookPage.zip
Week1 - Lesson Files Start/Lesson Files Start/guess.css
Week1 - Lesson Files Start/Lesson Files Start/guess.html
Week1 - Lesson Files Start/Lesson Files Start/index.html
Week1 - Lesson Files Start/Lesson Files Start/styles.css
Week2/.vscode/launch.json
Week2/Demo/index.html
Week2/Demo/script.js
Week2/InClassWork/css.css
Week2/InClassWork/index.html
Week2/InClassWork/script.js
Week3/index.html
Week3/script.js
Week3/InClassWork/index.html
Week3/InClassWork/script.js
Week3/InClassWork/style.css
Week3/InClassWork/img/footer-plant.png
Week3/InClassWork/img/side.png
see-n-say-storymaker.zip
Week1 - Lesson Files Complete.zip
Week1 - Lesson Files Start.zip
WEEK1_JS.pdf
Assignment1/SeeNSay/js/data.js
Assignment1/SeeNSay/css/styles.css
Assignment1/SeeNSay/Recording 2024-02-01 184741.mp4
